@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

font-family: 'Poppins', sans-serif;

html, body, header, footer, #body-row{
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}
p, h1, h2, h3{
    margin: 0px;
}

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: #1B2023;
    background-color: #C1BDDD;
    display: grid;
    grid-template-columns: 16vw 1fr;
    grid-template-areas: "header header"
                         "nav main"
                         "footer footer";
}
header, footer{
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    height: 72px;
    left: 0;
}

#logo-sorveteria{
    margin-left: 7rem;
    margin-right: 10rem;
}

header{
    grid-area: header;
}

header img{
    padding: 1rem;
}

header h3{
    margin-left: 5rem;
}

#header-main{
    background-color: #7F78B0;
    width: 100%;
}

#notificao-pop-up{
    margin-left: 45rem;
    margin-bottom: 0.5rem
}

#foto-de-perfil{
    margin-top: 0.4rem;
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

footer{
    grid-area: footer;
    font-weight: 600;
    bottom: 0;
}

main{
    grid-area: main;
}
nav{
    grid-area: nav;
    background-color: #584CB0;
    padding-top: 8%;
    position: relative;
}
#buttons{
    position: fixed;
    left: 0;
    width: fit-content;
}
nav button{
    position: relative;
    display: flex;
    align-items: center;

    background-color: transparent;
    border: none;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #C1BDDD;

    box-sizing: border-box;
    width: 16vw;
    gap: 8%;
    padding: 4% 8% 4% 24%;

}
#selection-bar{
    width: 1%;
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 0px 16px 16px 0px;
    position: absolute;
    left: 0px;
    opacity: 0;
}
#selected-nav{
    color: white;
}
#selected-nav path{
    stroke: white;
}
#selected-nav #selection-bar{
    opacity: 1;
}

#socials{
    margin-left: 70rem;
}

.container-dados-configuracoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 3rem;
    border-radius: 8px;
    padding: 4%;
    padding-bottom: 1%;
}

.alterar-imagem{
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.botao-editar-foto{
    border-radius: 8px;
    border: none;
    background-color: #6E5EDA;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 8rem;
    height: 2rem;
    margin-top: 11rem;
    margin-left: -9rem;
    font-weight: 700;
}

.container-dados-configuracoes img{
    margin-left: -33rem;
}

.container-dados-configuracoes button{
    margin-top: -0.5rem;
    margin-left: -55.5rem;
}

.container-dados-configuracoes p{
    margin-top: 0rem;
    margin-left: 1rem;
    color: black;
    font-weight: 600;
}

.dados-usuario {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.informacoes-usuario {
    margin-left: 1rem;
}

.configuracoes-alterar-dados{
    align-items: center;
    margin-top: 2rem;
    margin-left: -45rem;
}

.configuracoes-alterar-dados input{
    border-color: black;
    width: 20rem;
    margin-bottom: 1rem;
    height: 1.5rem;
}

.configuracoes-alterar-dados button{
    background-color: #6E5EDA;
    color: white;
    font-weight: 600;
    border-radius: 12px;
    margin-left: -0.1rem;
    margin-top: -1rem;
    width: 10rem;
    height: 2rem;
    border: none;
}

.notificacoes-configuracoes{
    margin-top: 2rem;
    margin-left: -37rem;
}

.seguranca-configuracoes{
    display: flex;
    flex-direction: column;
    margin-top: -28.3rem;
    margin-left: 25rem;
}

.seguranca-configuracoes input{
    width: 20rem;
    height: 1.5rem;
    margin-bottom: 1rem;
    border-color: black;
}

.seguranca-configuracoes button{
    background-color: #6E5EDA;
    color: white;
    font-weight: 600;
    border-radius: 12px;
    margin-left: -0.1rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    width: 10rem;
    height: 2rem;
    border: none;
}

.retangulo-cinza {
  display: inline-flex;
  align-items: center;
  background-color: #d9d9d9;
  padding: 0.3rem;
  border-radius: 5px;
  gap: 15px;
}

.interruptor {
  width: 45px;
  height: 20px;
  background-color: gray;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.bolinha {
  width: 15px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: transform 0.3s ease-in-out;
}

.interruptor.ativo {
  background-color: rgb(14, 203, 14);
}

.interruptor.ativo .bolinha {
  transform: translateX(27px);
}

