@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, header, footer, #body-row{
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}
p, h1, h2, h3{
    margin: 0px;
}

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: #1B2023;
    background-color: #C1BDDD;
    display: grid;
    grid-template-columns: 16vw 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: "header header"
                         "nav main"
                         "footer footer";
}
header, footer{
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding: 0 4%;
}

#logo-sorveteria{
    margin-left: 7rem;
    margin-right: 10rem;
}

header{
    grid-area: header;
}

header img{
    padding: 1rem;
}

header h3{
    margin-left: 5rem;
}

#header-main{
    background-color: #7F78B0;
    width: 100%;
}

#notificao-pop-up{
    margin-left: 45rem;
    margin-bottom: 0.5rem
}

#foto-de-perfil{
    margin-top: 0.4rem;
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

footer{
    grid-area: footer;
    font-weight: 600;
}

main{
    grid-area: main;
}
main h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 54px;
    padding-left: 70px;
    margin-top: 10px;
    color: #353535;
}
.container{
    display: flex;
    width: 1050px;
    height: 550px;
    margin-left: 65px;
    margin-top: 20px;
    justify-content: center;
    background: #FAF9FF;
    border-radius: 32px;
}
.titulo{
    display: flex;
    width: 90%;
    height: 30px;
    margin-top: 45px;
    background: #A9A1DD;
    border-radius: 32px;
    justify-content: space-between;
}
.titulo p{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    padding: 4px;
    color: #000000;
}

nav{
    grid-area: nav;
    background-color: #584CB0;
    padding-top: 8%;
    position: relative;
}
#buttons{
    position: fixed;
    left: 0;
    width: fit-content;
}
nav button{
    position: relative;
    display: flex;
    align-items: center;

    background-color: transparent;
    border: none;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #C1BDDD;

    box-sizing: border-box;
    width: 16vw;
    gap: 8%;
    padding: 4% 8% 4% 24%;

}
#selection-bar{
    width: 1%;
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 0px 16px 16px 0px;
    position: absolute;
    left: 0px;
    opacity: 0;
}
#selected-nav{
    color: white;
}
#selected-nav path{
    stroke: white;
}
#selected-nav #selection-bar{
    opacity: 1;
}

#socials{
    margin-left: 60rem;
}