
dialog{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 660px;
    border: none;
    border-radius:  12px;
    overflow: hidden;
    box-sizing: border-box;
    bottom: 40px;
    gap: 25px;
}
#logo-pix{
    width: 300px;
    height: 100px;
}
#qr-code{
    width: 280px;
    height: 280px;
}
#botao-copia{
    width: 200px;
    height: 40px;
    border: none;
    background-color: #D9D9D9;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
}
#valor-pix{
    font-size: 25px;
    font-weight: bold;
}
dialog p{
    font-weight: bold;
    font-size: 16px;
}