@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, p{
    margin: 0;
}
body{
    margin: 0;
    width: 100%;
}
header, footer{
    background-color: white;
    width: 100%;
    height: 72px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}
header{
    padding: 0 164px;
}
footer{
    justify-content: space-between;
    padding: 0 45px;
}
main{
    background-color: #584CB0;
    width: 100%;
    padding: 64px 128px 64px 0;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
nav{
    position: relative;
    left: 4%;
    gap: 20px;
}
nav button{
    border: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
}

.filtro-titulo{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    gap: 20px;
    margin: 0 0 20px 48px;
}
.filtro-titulo h2{
    font-weight: 500;
}
.filtro-produtos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #3E3296;
    border-radius: 0 8px 8px 0;
    padding: 40px 0 72px;
    box-sizing: border-box;
    width: 340px;
    color: white;
}
.filtro-produtos hr {
    width: 100%;
    border-top: 1px solid white;
}
.scroll-button-right{
    display: none;
    position: absolute;
    align-self: flex-end;
}
.scroll-button-left{
    display: none;
    position: absolute;
    transform: rotate(180deg);
}
.filtro-sabores {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.filtro-sabores h2 {
    margin: 20px 0 16px 48px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.sabores-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 48px);
    overflow-x: scroll;
    padding-left: 48px;
    gap: 20px;
    height: calc(2*40px + 20px);
}
.sabores-container button {
    height: 40px;
    box-sizing: border-box;
    padding: 0px 20px;
    border: none;
    border-radius: 24px;
    background-color: #FFD867;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    cursor: pointer;
    
}
.filtro-sabores img {
    cursor: pointer;
}
.container-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: calc(4*160px + 3*20px + 1px);
}
.produto {
    background-color: white;
    width: 160px;
    min-height: 200px;
    box-sizing: border-box;
    padding: 16px 8px 8px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.produto p{
    text-align: center;
}
.produto img{
    max-width: 125px;
}